  @import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Gloock&family=Lato:wght@300&family=Oswald:wght@300&family=Playfair+Display&display=swap');

body {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Germania One', cursive;
  letter-spacing: 3px;
  display: block;
}

.container {
  text-align: center;
  padding: 30px;
  font-size: 25px;
  letter-spacing: 3px;
  display: block;
}

h1 {
  color: #000000;
  background-color: #FF0000;
  padding: 0px;
  text-align: center;
}

a{
  text-decoration: none;
  color: #000000;
  font-size: 70%;
}

ul{
  text-align: center;
  padding: 0;
}

li{
  text-align: center;
  display: block;
  padding: 4px;
}

h3{
  text-align: center;
}

h4{
  text-align: center; 
  padding: 0;
  margin: 0; 
}

#quiz {
 margin: 0px;
 padding: 15px;
 background-color: #FFCC00;
}

#yellow h1{
  color: #000000;
  background-color: #FFCC00;
  padding: 0px;
  text-align: center;
  font-size: 40px;
}

#none{
  background-color: #000000;
  text-align: center;
  padding: 1px;
  color: #FFCC00;  
}

#score {
  margin-bottom: 20px;
  font-weight: bold;
  padding: 20px; 
}

#feedback {
  margin-top: 20px;
  font-weight: bold;
  font-size: larger;
}

button {
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 10px;
  font-family:'Germania One', cursive;
  border: 1px solid;
}

label {
  font-size: 20px;
}

input[type="text"] {  
  font-size: 18px;
  font-family: 'Germania One', cursive;;
}

#instructions{
  font-size: 40px;
}

/* ---media queries */
@media (max-width: 414px) {
    .container {
        width: 100%;
        font-size: medium;
        padding: 10% 0;
    }

    .button {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }    
    .score{
        width: 100%;
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }   
}

@media (max-width: 320px) {
    .container{
        height: 70vh;
        width: 75%;
        margin: 10px auto;
        padding: 10px 0;
    }

    .button {
        margin: 10px 10px;
    }
}