body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #000000;
  background-color: #FF0000;
  padding: 10px;
}

#quiz {
  margin: 20px auto;
  padding: 20px;
  background-color: #FFCC00;
}

#score {
  margin-bottom: 20px;
  font-weight: bold;
}

#feedback {
  margin-top: 20px;
  font-weight: bold;
}

button {
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
